div{
  text-align: center;
}

ul{
  text-align: left;
  display: inline-block;
  list-style: none;
  background-color: #BAE2FF;
  padding: 20px;
  margin:30px 10px;
}

button{
  margin:20px 10px;
  cursor:pointer;
  border: none;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

button:active{
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

#tl{
  display: inline-block;
}

.bgyellow{
  background-color: #FAEE6B;
}


button:disabled{
  opacity: 0.6;
}